@import "src/styles/variables";
@import "src/styles/mixims";


.learnBtn{
  @include secondaryBtn();
  border-radius: 4px;
  font-size: 12px;
}

.delBtn {
  @include dangerBtn();
font-size: 12px;

  &:hover{
    background-color: red;
  }
}


