
@mixin container() {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 413px;
  padding: 25px 33px;
  transform: translate(-50%, -50%);
  background: #F9F9FE;
  box-sizing: border-box;
  border-radius: 8px;
}



