
@mixin container() {
  margin-top: 25px;
  margin-right: 136px;
  margin-left: 136px;
  min-width: 450px;
  background: #F9F9FE;
  border-radius: 8px;
}

@mixin authContainer() {
  margin: 100px auto;
  padding: 20px;
  width: 450px;
  background: #F9F9FE;
  border-radius: 8px;
}



