@import "../../common/styles/mixims";


.modalStyle {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  .buttonCancel, .buttonSubmit {
    padding: 10px 37px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #9890C7;
    color: white;
    width: 150px;
  }

  .buttonSubmit {
    background-color: blue;
  }

}


.settingsContainer {
  @include container;
  display: flex;
  margin: 50px auto;
  width: 1000px;
  flex-direction: column;


  .container {
    width: 940px;
    margin: 0 auto;


    .headerBox {
      display: flex;
      align-items: center;
      height: 25px;
      margin: 50px 0 0;
      justify-content: space-between;

      .textAndName {
        display: flex;

        & img {
          height: 50px;
          cursor: pointer;
        }

        & h1 {
          height: 50px;
          margin: 0 20px;
        }

      }


    }


    .inputBlock {
      display: flex;
      margin: 20px 0;
    }


    .tableStyle {
      padding: 20px;
      margin: 25px auto;
      box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    }


  }


}


