.modalContainer{
  padding: 15px 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  & h1 {
    display: inline;
  }

  & span {
    font-size: 2em;
    font-weight: 500;
  }

  .border{
    background-color: black;
    height: 2px;
    width: 100%;
    opacity: 0.1;
  }

  .customInput{
    display: block;
    padding: 20px 0;
    width: 100%;

  }

  .buttonCancel, .buttonSubmit{
    padding: 10px 37px;
    border: none;
    border-radius: 20px;
    background-color: #D7D8EF;
    color: #21268F;
    cursor: pointer;
  }

.buttonSubmit{
  background-color: #21268F;
  color: white;
}


}