$cancelBtnBg: #D7D8EF;
$cancelBtnBgHover: #cdcde0;
$cancelBtnText: #21268F;

$bgProfile: #D9D9F1;
$bgSecondProfile: #ECECF9;
$borderBtnProfile: rgba(99, 93, 128, 0.5);
$borderBtnText: #21268F;

$acceptBtnHover: #121557;


$secondBtnBg: #D7D8EF;