@import "src/styles/mixims";
//RIGHT SIDE

.rightSideContainer{
  display: flex;
  flex-direction: column;
  padding: 20px;

  & h2 {
    margin: 20px 0 0 15px;
    font-weight: 700;
  }

  .searchBlock{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;


    .inputSearch{
      width: 75%;
    }

    & button{
      @include primaryBtn();
    }
  }

  .tableStyle{
    padding: 20px;
    margin: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}