@import "src/styles/mixims";
@import "src/styles/variables";


.root {
  @include container();
  display: flex;

  .leftSide {
    display: flex;
    flex-direction: column;
    background-color: $bgSecondProfile;


    .profileInfoBox{
      background-color: $bgProfile;
      min-width: 300px;
      padding: 20px;

      & img {
        width: 100px;
        margin-bottom: 20px;
      }

      & h3 {
        font-weight: 700;
      }

      & span {
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        opacity: 0.5;
        padding: 5px 0;
      }

      & button {
        margin-top: 10px;
        background: transparent;
        border: 1px solid $borderBtnProfile;
        border-radius: 2px;

        & a {
          text-decoration: none;
          color: $borderBtnText;
          font-weight: 600;
          font-size: 12px;
          line-height: 14px;

        }
      }


    }




    .profileNumberBox{
      padding: 20px;

      & h3{
        margin-top: 20px;
        text-align: left;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
      }


      .sliderStyle{
        margin-top: 50px;
        @include sliderStyle();
      }


    }

  }


  .rightSide{
    padding: 20px 50px;
    width: 100%;

    & h2 {
      text-align: left;
    }

    & input {
      width: 100%;
      background-color: $bgSecondProfile;
      opacity: 0.5;
      border: 1px solid #635D80;
      border-radius: 2px;
      padding: 10px 20px;
      outline: none;
      color: black;
    }

    .tableStyle{
      padding: 20px 0;
    }

  }


}