@import "src/styles/mixims";
@import "src/styles/variables";

.buttonBlock {
  display: flex;
  justify-content: space-between;
  gap: 30px;

  .buttonSubmit, .buttonCancel{
    width: 100%;
  }

  .buttonCancel {
    @include secondaryBtn();
  }

  .buttonSubmit {
    @include primaryBtn();
  }



}

.customInput{
  display: block;
  padding: 20px 0;
  width: 100%;

}


