@import "src/styles/variables";
.headerBox {
  background-color: #EBE0E9;
  height: 60px;
  display: flex;
  align-items: center;

  & h2 {
    font-weight: 600;
    margin-left: 136px;
    cursor: pointer;

    & a {
      text-decoration: none;
      color: black;
    }

    & :hover {
      color: $cancelBtnText;
    }

  }

  & nav {
    display: flex;
    margin-left: 168px;
    height: 100%;

    a.inactive{
      text-decoration: none;
      justify-content: center;
      display: flex;
      align-items: center;
      padding: 0 44px;
      color: black;
    }


    & a.active{
      color: black;
      text-decoration: none;
      justify-content: center;
      display: flex;
      align-items: center;
      background-color: #DCCCDB;
      padding: 0 44px;
      border-bottom: 3px solid black;
    }

    & .iconStyle {
      margin-right: 10px;
    }



  }


}

