@import "../../styles/mixims";

.loginBox {
  @include container();
  min-height: 660px;
}

.loginBox h1 {
  font-family: Poppins, sans-serif;
  color: #2D2E46;
  text-align: center;
}

.loginBox h2 {
  font-family: Poppins, sans-serif;
  margin-top: 50px;
  color: #2D2E46;
  text-align: center;
}

.loginBox h3 {
  font-family: Poppins, sans-serif;
  margin-top: 31px;
  color: grey;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.loginBox h4 {
  font-family: Poppins, sans-serif;
  margin-top: 25px;
  color: #21268F;
  font-size: 16px;
  text-align: center;
  cursor: pointer;

  & a {
    text-decoration: none;
    color: #21268F;
  }
}

.loginBox h4:hover {
  opacity: 0.8;
}

.loginBox h3:hover {
  opacity: 0.8;
}

.loginBox {
  button {
    display: block;
    margin: 40px auto;
    background-color: #21268F;
    color: #ECECF9;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    padding: 9px 113px;
    cursor: pointer;

  }
}

.rememberBox{
  margin-top: 20px;
  align-items: center;
  display: flex;
  justify-content: left;

  & input{
    height: 20px;
    width: 20px;
    background-color: #eee;
  }

  & label {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0 20px;
  }
}


.loginBox .errorBox{
  margin-top: 10px;
  height: 50px;
  padding: 20px 0;
}


.preloaderBox{
  display: flex;
  height: 225px;
  justify-content: center;
  align-items: center;
}

.loginButtonBox{
  height: 225px;
}

.forgotPassword{
  text-align: right;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;

  & a {
    text-decoration: none;
    color: black;
  }
}


.loginBox .errorMessage{
  color: red;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

