*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/*backgrnud Style*/
body{
  background: linear-gradient(180deg, #D8D4E6 0%, #9890C7 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.App {
  text-align: center;

}