@import "../../styles/mixims";

.loginBox {
  @include container();
  min-height: 540px;
  min-width: 450px;
}

.loginBox h1 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: #2D2E46;
  text-align: center;
}

.loginBox h2 {
  font-family: Poppins, sans-serif;
  margin-top: 50px;
  font-weight: 600;
  color: #2D2E46;
  text-align: center;
  margin-bottom: 39px;
}

.loginBox .userBox {
  position: relative;
  height: 70px;
  margin: 24px auto 0;
}

.loginBox .userBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #2D2E46;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #2D2E46;
  outline: none;
  background: transparent;
}

.loginBox .userBox label {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #2D2E46;
  pointer-events: none;
  transition: .5s;
}

.loginBox .userBox input:focus ~ label,
.loginBox .userBox input:valid ~ label {
  top: -20px;
  left: 0;
  color: grey;
  font-size: 12px;
}


.loginBox .errorMessage{
  color: red;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.loginBox h3 {
  font-family: Poppins, sans-serif;
  margin-top: 31px;
  color: grey;
  cursor: default;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

}

.errorBox{
  height: 50px;
  margin-top: 30px;

  & span{
    color: red;
    font-family: Poppins, sans-serif;
    font-weight: 600;
  }
}

.loginButtonBox{
  & button {
    font-family: Poppins, sans-serif;
    display: block;
    margin: 40px auto;
    background-color: #21268F;
    color: #ECECF9;
    border: none;
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    padding: 9px 70px;
    cursor: pointer;
  }
  & h3 {
    text-align: center;
  }

  & h4 {
    font-family: Poppins, sans-serif;
    margin-top: 25px;
    color: #21268F;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    cursor: pointer;

    & a {
      text-decoration: none;
      color: #21268F;
    }
  }
}
